################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/version_1/IntList.VC.VC.opendb
